body{
    background-color:lightblue;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-weight:bold;
    text-align:center;
}

h2{
    text-align:center;
    font-weight:bold;
    text-decoration:underline;
    color:navy;
}

h3{
    color:darkred;
    font-family:'Courier New', Courier, monospace;
}