body{
    background-color:orange;
    color:yellow;
}

h1{
    font-size:36px;
    color:rgb(255, 0, 0);
    text-align:center;
}

h2{
    color:navy;
    /*doesn't appear to do anything because h2 is a link*/ 
}

p{
    font-size:25px;
    text-decoration:underline;
    font-style:italic;
    font-weight:bold;
}

#pinkparagraph{
    color:pink;
}

.pretty{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fantasy{
    font-family:fantasy;
}

.header{
    z-index: 10;
}

.common{
    background-color:aliceblue;
    border:2px solid white;
    position:relative;
}

.left{
    top:115px;
    left:15px;
    width:100px;
    bottom:40px;
}

.main{
    top:115px;
    left:130px;
    right:140px;
    bottom:40px;
}

.right{
    top:115px;
    right:25px;
    width:100px;
    height:100px;
}

.footer{
    bottom:10px;
    height:25px;
    left:15px;
    right:25px;
    position:fixed;
    background-color:black;
    border:2px solid white;

}